<div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
            <%= flash[:notice] %>
        </div>
        <hr>
    <% end %>

    <p class="alert alert-success">
        Você tem <%= @remaining_votes %> voto(s) restante(s)!
       
    </p>
     <% if @remaining_votes <= 0 %>
        <p class="alert alert-warning">
            Você já usou todos seus votos.
        </p>
    <% end %>
   
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td>Título</td>
                <td>Diretor</td>
                <td>Episódio</td>
                <td>Ano de lançamento</td>
                <td>Seu voto</td>
            </tr>
        </thead>
        <tbody>
            <% @movies.each do |movie| %>
            <tr>
                <td><%= movie["title"] %></td>
                <td><%= movie["director"] %></td>
                <td><%= movie["episode_id"] %></td>
                <td><%= movie["release_date"].to_date.year %></td>
                <td>
                    <%= button_to "vote", { 
                        params: {
                            vote_type: "upvote", 
                            movie_id: movie["episode_id"], 
                        },
                        controller:"votes",
                        disabled: !user_can_vote?(movie),
                        class: "btn-success btn btn-sm",
                        form_class: "aformclass"
                        } do %>
                        <img src="<%= image_url("heart-white-40px.png") %>" alt="" width="20px" height="20px">
                    <% end %>
                    <%= button_to "vote", { 
                        params: {
                            vote_type: "downvote", 
                            movie_id: movie["episode_id"], 
                        },
                        controller:"votes",
                        disabled: !user_can_vote?(movie),
                        class: "btn-danger btn btn-sm",
                        form_class: "aformclass"
                        } do %>
                        <img src="<%= image_url("heart-white-broken-40px.png") %>" alt="" width="20px" height="20px">
                    <% end %>
                </td>
            </tr> 
            <% end %>
        </tbody>
    </table>
</div>