<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td>Título</td>
                <td>Diretor</td>
                <td>Episódio</td>
                <td>Ano de lançamento</td>
                <td>Ranking</td>
            </tr>
        </thead>
        <tbody>
            <% @movies.each do |movie| %>
            <tr>
                <td><%= movie["title"] %></td>
                <td><%= movie["director"] %></td>
                <td><%= movie["episode_id"] %></td>
                <td><%= movie["release_date"] %></td>
                <td><%= movie["ranking"] %></td>
            </tr> 
            <% end %>
        </tbody>
    </table>
</div>