<div class="container">
    <h3>Melhores filmes na opinião dos usuários</h3>
    <ul>
        <% @best_movies.each do |movie| %>
        <li>
            <%= link_to "ranking/#{movie["episode_id"]}" do %>
                 <%= movie["title"] %>
            <% end %>
        </li>
        <% end %>
    </ul>
    <hr>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td>Título</td>
                <td>Diretor</td>
                <td>Episódio</td>
                <td>Ano de lançamento</td>
                <td>Ranking</td>
            </tr>
        </thead>
        <tbody>
            <% @movies.each do |movie| %>
            <tr>
                <td><%= movie["title"] %></td>
                <td><%= movie["director"] %></td>
                <td><%= movie["episode_id"] %></td>
                <td><%= movie["release_date"].to_date.year %></td>
                <td><%= movie["ranking"] %></td>
            </tr> 
            <% end %>
        </tbody>
    </table>
</div>